/** global element styling **/

html {
  scroll-behavior:smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    min-width: 200px;
    min-height: 600px;
    z-index: -99;
    margin: 0;
    padding: 0;
     background-image: linear-gradient(
        160deg,
        rgba(79, 111, 82, 0.8) 50%,
        rgba(79, 111, 82, 0.3)
      ), 
      url(https://images.unsplash.com/photo-1630930678172-63343537a00a?q=80&w=1962&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
    );
    background-position: center;
    background-repeat:n0-repeat;
    background-size:cover;
  }
  
  /** header element styling **/
  
  #header-img {
    position: relative;
    width: 80px;
    height: 55px;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
  }
  
  header {
  position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 239, 230, 0.8);
    width:100%;  
    z-index:99999;
  }
  
  nav > ul {
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  /** first screen element styling **/
  
  .first-page {
    display: flex;
    max-width: 1000px;
    width: 100vw;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    min-height: 600px;
    height: 100vh;
  }
  
   .first-container h1 {
    font-size: 3em;
     padding-bottom:40px;
     color: #F5EFE6
  }
  
  .first-container p {
    font-size: 1.5em;
    color: #F5EFE6
  }
  
  /** form element styling **/
  
  h3 {
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
  }
  
  .conteiner-light {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5EFE6;
    width: 100vw;
    margin: 0 auto;
    padding: 3rem 0;
  }
  
  label {
    font-size: 1.3em;
  }
  
  form {
    max-width: 700px;
    margin: 0 auto;
  }
  
  .label-form {
    padding-left: 12px;
  }
  
  input, textarea {
    font-size: 0.7em;
    margin: 4px 0 12px 0;
    width: 100%;
    min-height: 2.5em;
    padding: 0.3rem 0.8rem;
    background-color: #739072;
    border: none;
    border-radius: 0.6rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  ::placeholder {
    color: rgba(245, 239, 230, 0.5);
  }
  
  .submit {
    align-items: center;
    justify-content: center;
  display: flex;
    width: 100%;
    padding-top: 1em; 
  }
  
  .btn {
    width: 200px;
    font-size: 1.5em;
    max-height: 50px;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 700;
    background-color: #FFD23F;
  }
  
  /** about our project element styling **/
  
  .conteiner-color {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3A4D39;
    color: #F5EFE6;
    width: 100vw;
    margin: 0 auto;
    padding: 3rem 0;
  }
  
  .conteiner-color p, .conteiner-light p {
    font-size: 1.2em;
    max-width: 1000px;
    padding-bottom: 1rem;
    padding: 0 1rem 1rem 1rem;
  }
  
  .first-paragraf::first-letter {
    font-size: 3em;
    color: #FFD23F;
    float: left;
    margin: -1.3rem 0.5rem;
    font-family: 'Baskervville', serif;
  }
  
  /** How it works element styling **/
  
  
  .italic-paragraf {
    font-style: italic;
    text-align: center;
  font-weight: 500;
  margin: 1rem 0;
  }
  
  .div-text {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .list {
    display: flex;
    align-items: center;
    margin-left: 4%;
  }
  
  .line {
    position: relative;
    left: 38px;
    border-left: 4px solid #1A4D2E;
    height: 200px;
  }
  
  .circle {
    z-index: 1;
    min-height: 2rem;
    min-width: 2rem;
    background-color: #1A4D2E;
    color: #FFD23F;
  border-radius: 0.9rem;
  display: flex;
  align-items: center;
    justify-content: center;
  font-weight: 700;
  margin: 15px 20px;
  }
  
  /** rental element styling **/
  
  
  .video {
      text-align: center;
    max-width: 1200px;
    display: flex;
     align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  iframe {
    height: 400px;
    width: 700px;
  }
  .card-conteiner {
    display: grid; 
  grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3);
      max-width: 1200px;
      width: 100%;
  }
  
  .card {
  width: 260px;
  margin: 10px;
  text-align: justify;
  font-size: 0.7rem;
  }
  
  .img-position {
    width: 260px;
    height: 240px;
     background-color: white;
     display: flex;
     align-items: center;
    justify-content: center;
  }
  
  .img-position img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .info h5 {
    font-size: 1rem;
    text-align: center;
    padding: 10px 0
  }
  /** pricing element styling **/
  
  .priscing_ul {
      max-width: 1000px;
      padding: 10px;
  
  }
   .priscing_ul li {
     display: flex; 
      align-items: center;
       justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;
    font-size: 1.3rem;
  background-color: #739072;
  border-radius: 10px;
   }
  
   .priscing_ul li:hover {
  background-color: #4F6F52;
  font-weight: 600;
   }
  
  .pricing_numbers {
    font-weight: 600;
    padding-left: 15px;
    color: #FFD23F;
  }
  .pricing_text {
     text-align: center;
  }
  
  /** contacts element styling **/
  
  .contacts {
    font-size: 1.2rem;
       text-align: center;
  }
  
  .contacts h5 {
    font-size: 1.6rem;
       color: #FFD23F;
       padding: 15px;
  }
  .contacts pre {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
      font-size: 1.2em;
    padding-bottom: 1rem;  
    line-height: 30px;
  }
  
  .symbols {
    display: flex; 
      align-items: center;
      justify-content: center;
           text-align: center;
  }
  
  .material-symbols-outlined {
    padding-bottom: 16px;
  }
  
  
  /** footer element styling **/
  
  footer {
    background-color: #F5EFE6;
    padding: 20px;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    padding: 0 10px;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }
  /** media element styling **/
  
  @media (max-width: 862px) {
   header {
      flex-wrap: wrap;
       justify-content: center;
       padding-top: 10px;
    }
    nav {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    nav li {
      padding-bottom: 10px;
    }
    nav > ul {
      flex-direction: column;
    }
    .first-container {
      padding-top: 200px;
    }
  
    form {
    max-width: 550px;
  }
  iframe {
    height: 280px;
    width: 500px;
  }
  
  }
  
  @media (max-width: 550px) {
  
  .first-container {
      padding-top: 230px;
    }
     form {
    max-width: 480px;
  }
   
  .conteiner-color p, .conteiner-light p, .div-text {
    font-size: 1.1em;
  }
  iframe {
    height: 210px;
    width: 410px;
  }
  
  
  
  }
  
  @media (max-width: 420px) {
  
  .first-container h1 {
    font-size: 2em;
  }
  .first-container p {
    font-size: 1em;
    color: #F5EFE6
  }
  form {
    max-width: 340px;
  }
  
  label {
    font-size: 1em;
  }
  .btn {
    font-size: 1em;
  }
  
  h3 {
    font-size: 1.5em;
  }
  .conteiner-light p, .conteiner-color p {
    font-size: 1em;
  }
  .div-text {
    font-size: 1em;
  }
  iframe {
    height: 200px;
    width: 360px;
  }
  }
  
  @media (max-width: 1150px) {
  .img-position {
    width: 220px;
    height: 240px;
    }
    .card {
  width: 220px;
  }
  }
  @media (max-width: 1050px) {
    .card-conteiner {
      grid-template-columns: repeat(3, 1fr);
  }
  }
  @media (max-width: 860px) {
    .card-conteiner {
      grid-template-columns: repeat(2, 1fr);
  }
  }
  @media (max-width: 520px) {
  .img-position {
    width: 180px;
    height: 160px;
    }
     .card {
  width: 180px;
  }
  }